.btn {
  width: 150px;
  height: 50px;
  text-decoration: none;
  border: 0;
  border-radius: 5%;
  padding: 5px;
  color: #a675b3;
  background-color: #361241;
  text-align: center;
  font-size: 30px;
  line-height: 15px;
  display: block;
  margin: 20px auto;
}
[off] {
  opacity: 0.5;
  color: #111011;
  background-color: #78727a;
}
